<!DOCTYPE html>
<html>
<head>
  <title>Cadastro de Veículo</title>
</head>
<body>
  <h1>Cadastrar Veículo</h1>
  <form action="/add" method="POST">
    <label>ID:</label>
    <input type="number" name="id" required>
    <br>
    <label>Nome:</label>
    <input type="text" name="nome" required>
    <br>
    <button type="submit">Salvar</button>
  </form>
  <a href="/">Voltar</a>
</body>
</html>